
body {
    background-image: url('/images/Porsche.jpg');
    font-family: 'Jura', serif;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

body > main {
    margin-top: 6rem;
}


.footer-badge {
    backdrop-filter: blur(10px); /* Замъгляване */
    color: darkgray;
}

.contacts-panel{
    padding: 0!important;
}
.bg-blur {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}

/*.mySticky {*/
/*    position: sticky;*/
/*    left: 0;*/
/*}*/

.navbar .nav-link:hover,
.text-yellow{
    color: #F2CD13!important;
}


.table td, .table th {
    padding: 0.15rem;

}
.nav-link .button-text {
    display: none; /* По подразбиране текстът е скрит */
}
.nav-link:hover .button-text {
    display: inline-block; /* Показва текстът при ховър */
    font-size: 15px;

}

.navbar-nav .nav-link {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    /*color: #F2CD13;*/
    /*text-decoration: none;*/
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px; /* Височина на подчертаването */
    background-color: #F2CD13; /* Цвят на подчертаването */
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

.navbar-nav .nav-link:hover::before {
    width: calc(100%); /* Ширина на подчертаването */
}
.navbar {
    backdrop-filter: blur(10px); /* Замъгляване */
}
.row.d-flex {
    display: flex;
}

.bg-dark {
    height: 100%; /* Ensure the background section takes up full height */
}
.card {
    background-color: #343a40; /* За да е в синхрон с текстовете в картите */
    flex: 1;
}

.table thead th {
    position: sticky;
    top: -2px;
    z-index: 10;
    background: #343a40; /* Ensure the background color matches your table header */
}
body > main > div > p:nth-child(5) > a {
    text-decoration-color: #F2CD13;
}
.text-white {
    text-decoration-color: white;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.mb-4 {
    margin-bottom: 0!important;
}
.gallery-container {
    position: relative;
    width: 100%;
    height: 250px; /* Определете височината на контейнера за изображенията */
    overflow: hidden;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Уверете се, че изображението запълва контейнера без изкривяване */
}
.text-overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачен черен фон за по-добра четимост */
    padding: 5px 10px;
    border-radius: 5px;
}

.header-image {
    background: url('https://www.hdcarwallpapers.com/walls/mansory_lamborghini_huracan_sterrato_2024_rear-HD.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.header-text h1 {
    font-size: 4rem;
    font-weight: bold;
}
.header-text p {
    font-size: 1.5rem;
}

.about {
    padding-right: 0;
    padding-left: 0;
}
.form-buttons {
    display: flex;
    justify-content: flex-end;
}

@font-face {
           font-family: "Jura", sans-serif;
           src: url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap') format('truetype');
           font-weight: 500;
           font-style: normal;
}
