<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-warning">Промени профил</span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-75 bg-blur col-xl-3 col-md-4 col-sm-5"
          th:method="POST"
          th:action="@{/users/edit/{id}(id=${id})}"
          th:object="${editData}"
          style="padding: 20px;"
    >
        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="licensePlate" class="h4 mb-2">Регистрационнен номер</label>
            </div>
            <input type="text"
                   class="form-control"
                   id="licensePlate"
                   name="licensePlate"
                   th:field="*{licensePlate}"
                   th:errorclass="'is-invalid alert-danger'"/>
            <small th:errors="*{licensePlate}" class="invalid-feedback text-danger"></small>

            <div class="label-holder text-white d-flex justify-content-center">
                <label for="make" class="h4 mb-2">Марка</label>
            </div>
            <input type="text"
                   class="form-control"
                   id="make"
                   name="make"
                   th:field="*{make}"
                   th:errorclass="'is-invalid alert-danger'"/>
            <small th:errors="*{make}" class="invalid-feedback text-danger"></small>

            <div class="label-holder text-white d-flex justify-content-center">
                <label for="model" class="h4 mb-2">Модел</label>
            </div>
            <input type="text"
                   class="form-control"
                   id="model"
                   name="model"
                   th:field="*{model}"
                   th:errorclass="'is-invalid alert-danger'"/>
            <small th:errors="*{model}" class="invalid-feedback text-danger"></small>

            <div class="label-holder text-white d-flex justify-content-center">
                <label for="vin" class="h4 mb-2">Рама</label>
            </div>
            <input type="text"
                   class="form-control"
                   id="vin"
                   name="vin"
                   th:field="*{vin}"
                   th:errorclass="'is-invalid alert-danger'"/>
            <small th:errors="*{vin}" class="invalid-feedback text-danger"></small>

            <div class="label-holder text-white d-flex justify-content-center">
                <label for="color" class="h4 mb-2">Цвят</label>
            </div>
            <input type="text"
                   class="form-control"
                   id="color"
                   name="color"
                   th:field="*{color}"
                   th:errorclass="'is-invalid alert-danger'"/>
            <small th:errors="*{color}" class="invalid-feedback text-danger"></small>

        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning mb-3">Запази</button>
        </div>
    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
