
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="jumbotron container bg-blur rounded mt-5 ">
        <img src="https://hips.hearstapps.com/hmg-prod/images/check-engine-light-icon-1616189100.jpg?crop=1.00xw:0.891xh;0,0.0295xh&resize=980:*" width="200rem" height="160rem">
        <p class="lead">Възникна неочаквана грешка при обработка на заявката.</p>
        <hr class="my-4">
        <p>Моля, свържете се с администратора на системата за отстраняване на проблема.</p>
        <p class="lead">
            <a th:href="@{/contacts}" class="contact-link text-warning">свържете с нас</a>
        </p>

    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>


<!--    <style>-->
<!--        body {-->
<!--            font-family: Arial, sans-serif;-->
<!--            background-color: #f4f4f4;-->
<!--            text-align: center;-->
<!--            padding: 50px;-->
<!--        }-->
<!--        .container {-->
<!--            max-width: 600px;-->
<!--            margin: 0 auto;-->
<!--            background-color: #fff;-->
<!--            padding: 20px;-->
<!--            border-radius: 8px;-->
<!--            box-shadow: 0 0 10px rgba(0,0,0,0.1);-->
<!--        }-->
<!--        h1 {-->
<!--            color: #dc3545;-->
<!--        }-->
<!--        p {-->
<!--            color: #6c757d;-->
<!--        }-->
<!--        .contact-link {-->
<!--            color: #007bff;-->
<!--            text-decoration: none;-->
<!--            font-weight: bold;-->
<!--        }-->
<!--        .contact-link:hover {-->
<!--            text-decoration: underline;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h1>Грешка</h1>-->
<!--    <p>Възникна неочаквана грешка при обработка на заявката.</p>-->
<!--    <p>Моля, свържете се с администратора на системата за отстраняване на проблема.</p>-->
<!--    <p>За повече информация и въпроси, можете да се <a href="mailto:admin@example.com" class="contact-link">свържете с нас</a>.</p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
