<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

    </style>
</head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="header-image">
        <div class="header-text">
            <h1>Welcome to Exclusive Service</h1>
            <p>Your trusted partner in automotive excellence</p>
        </div>
    </div>

    <!-- Content Section -->
    <div class="container content-section col-xl-12">
        <div class="row">
            <div class="col-md-6 about">
                <img src="https://wallpapercave.com/wp/wp1911240.jpg" class="gallery-img" alt="Image 1">
            </div>
            <div class="col-md-6 align-content-lg-center about bg-blur border-0">
                <h2>Our History</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut libero nec risus vehicula tincidunt.</p>
            </div>
            <div class="col-md-6 align-content-lg-center about bg-blur border-0">
                <h2>Our Mission</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut libero nec risus vehicula tincidunt.</p>
            </div>
            <div class="col-md-6 about">
                <img src="https://www.hdcarwallpapers.com/walls/ferrari_458_italia_tailor_made_army_4k-HD.jpg" class="gallery-img" alt="Image 2">
            </div>
            <div class="col-md-6 about">
                <img src="https://www.hdcarwallpapers.com/walls/lamborghini_aventador_rear-HD.jpg" class="gallery-img" alt="Image 3">
            </div>
            <div class="col-md-6 align-content-lg-center about bg-blur border-0">
                <h2>Our Vision</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut libero nec risus vehicula tincidunt.</p>
            </div>
            <div class="col-md-6 align-content-lg-center about bg-blur border-0">
                <h2>Our Team</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut libero nec risus vehicula tincidunt.</p>
            </div>
            <div class="col-md-6 about">
                <img src="https://r4.wallpaperflare.com/wallpaper/269/1018/533/lamborghini-aventador-wallpaper-6fa1a9b9c655479918a2e9ad5c787512.jpg" class="gallery-img" alt="Image 4">
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
