<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/commons::head}">
    <script src="https://kit.fontawesome.com/8c77968f69.js" crossorigin="anonymous"></script>
</head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="container bg-blur rounded mt-1 mb-4">
        <h6 class="bg-gray text-light mb-0 mt-0"><span class="badge badge-pill badge-warning">Добре дошъл, <span th:text="${welcomeMessage}"></span></span></h6>
        <div class="row mt-1 mb-2">
            <div class="col-md-6 col-12 mt-1 mb-1">
                <div>
                    <h3 class="mySticky bg-gray text-light  mb-0 mt-2">Моите автомобили</h3>
                    <div class="bg-dark rounded m-auto" style="height: 31vh; overflow: auto">
                        <table class="table table-striped table-dark">
                            <tr>
                                <td></td>
                                <td>Марка</td>
                                <td>Модел</td>
                                <td>Рег. номер</td>
                                <td>Премахни</td>
                            </tr>
                            <tr th:each="car : ${myCarsData}">
                                <td class="bg-success" scope="row" style="width: 5%">
                                    <img class="mr-2 " src="/images/p911.png" alt="myCars" width="35px"
                                         height="35px">
                                </td>
                                <td><a class="text-light" th:href="@{/cars/{id}(id=${car.id})}" th:text="${car.getLicensePlate()}"></a></td>
                                <td><a class="text-light" th:href="@{/cars/{id}(id=${car.id})}" th:text="${car.getMake()}"></a></td>
                                <td><a class="text-light" th:href="@{/cars/{id}(id=${car.id})}" th:text="${car.getModel()}"></a></td>
                                <td>
                                    <form th:method="POST"
                                          th:action="@{/cars/delete/{id}(id=${car.id})}">
                                        <button class="bg-transparent border-0" type="submit">
                                            <a>
                                                <i class="fa-solid fa-trash-can text-yellow"></i>
                                            </a>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-12 mt-1 mb-1">
                <div>
                    <h3 class="mySticky bg-gray text-light  mb-0 mt-2">Ремонти</h3>
                    <div class="bg-dark rounded m-auto" style="height: 31vh; overflow: auto">
                        <table class="table table-striped table-dark">
                            <tr>
                                <td></td>
                                <td>Дата</td>
                                <td>Рег. номер</td>
                                <td>Статус</td>
                                <td>Бр. детайли</td>
                            </tr>
                            <tr th:each="appointment : ${appointmentsData}">
                                <td class="bg-warning" scope="row" style="width: 5%">
                                    <img class="mr-2 " src="/images/p911.png" alt="Appointments" width="35px" height="35px">
                                </td>
                                <td><a class="text-light" th:href="@{/appointments/{id}(id=${appointment.id})}" th:text="${appointment.getDate()}"></a></td>
                                <td><a class="text-light" th:href="@{/cars/{id}(id=${appointment.car.id})}" th:text="${appointment.car.getLicensePlate()}"></a></td>
                                <td><a class="text-light" th:href="@{/appointments/{id}(id=${appointment.id})}" th:text="${appointment.getStatus()}"></a></td>
                                <td><a class="text-light" th:href="@{/appointments/{id}(id=${appointment.id})}" th:text="${appointment.getPaintDetails()}"></a></td>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
