<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
<!--    <div class="row no-gutters">-->
<!--        <div class="row-lg-4 col-md-4 col-sm-12 mb-4 mb-lg-0">-->
<!--            <div class="gallery-container">-->
<!--                <img src="/images/gallery/1.jpg" class="gallery-img img-fluid" alt="Audi Q8">-->
<!--                <div class="text-overlay text-light">Audi Q8</div>-->
<!--            </div>-->
<!--       </div>-->
<!--    </div>-->
    <div class="container bg-blur contacts-panel" sec:authorize="hasRole('ROLE_ADMIN')">
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="imageFile" name="image">
            <input type="text" id="imageTitle" name="title" placeholder="Въведете име">
            <button class="btn btn-warning m-3" type="submit">Качи</button>
        </form>
    </div>

    <div id="gallery">

    </div>

    <script>
        document.getElementById("uploadForm").addEventListener("submit", function(event) {
            event.preventDefault();

            let formData = new FormData();
            formData.append("image", document.getElementById("imageFile").files[0]);
            formData.append("title", document.getElementById("imageTitle").value);

            fetch("/gallery/upload", {
                method: "POST",
                body: formData
            })
                .then(response => response.text())
                .then(data => {
                    alert(data);
                    location.reload(); // Презареждане за да се обнови галерията
                })
                .catch(error => console.error("Грешка:", error));
        });

        // Изтриване на снимка
        function deleteImage(id) {
            fetch(`/admin/gallery/delete/${id}`, {
                method: "DELETE"
            })
                .then(response => response.text())
                .then(data => {
                    alert(data);
                    location.reload();
                });
        }
    </script>

</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
