<!DOCTYPE html>
<html lang="bg" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <style>
        /* Може да добавите CSS стилове тук */
    </style>
</head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="header-image">
        <div class="header-text">
            <h1 class="badge badge-pill badge-warning">Ексклузив Сервиз</h1>
            <h3>Вашият доверен партньор в автомобилната индустрия</h3>
        </div>
    </div>
    <!-- Content Section -->
    <div class="container content-section col-xl-12">
        <div class="row">
            <div class="col-md-6 about">
                <img src="https://images6.alphacoders.com/105/1050465.jpg" class="gallery-img" alt="Image 1">
            </div>
            <div class="col-md-6 align-content-lg-center about bg-blur border-0">
                <h2>Нашата история</h2>
                <p>Сервизът беше създаден през септември 2016 година и от тогава ние активно се занимаваме с боядисване и възстановяване на автомобили. През 2023 година бе преименуван и ребрандиран, като се утвърди като лидер в индустрията за висококачествено обслужване на автомобили. Сервизът работи с най-добрите материали и техника, за да предоставя безкомпромисно качество.</p>
            </div>
            <div class="col-md-6 align-content-lg-center about bg-blur border-0">
                <h2>Нашата мисия</h2>
                <p>Ние сме ангажирани да предоставяме най-доброто обслужване за нашите клиенти, като се стремим да постигнем съвършенство във всяка услуга, която предоставяме. Работим с най-добрите продукти и технологии, за да осигурим дългосрочни и надеждни резултати за всяко превозно средство.</p>
            </div>
            <div class="col-md-6 about">
                <img src="https://www.hdcarwallpapers.com/walls/ferrari_458_italia_tailor_made_army_4k-HD.jpg" class="gallery-img" alt="Image 2">
            </div>
            <div class="col-md-6 about">
                <img src="https://www.hdcarwallpapers.com/walls/lamborghini_aventador_rear-HD.jpg" class="gallery-img" alt="Image 3">
            </div>
            <div class="col-md-6 align-content-lg-center about bg-blur border-0">
                <h2>Нашата визия</h2>
                <p>Нашата визия е да бъдем водещ сервиз за автомобилно боядисване и възстановяване в страната, като предоставяме безкомпромисно качество и обслужване на най-високо ниво за всички автомобили - от стандартни до луксозни марки.</p>
            </div>
            <div class="col-md-6 align-content-lg-center about bg-blur border-0">
                <h2>Нашият екип</h2>
                <p>Екипът на Ексклузив Сервиз се състои от висококвалифицирани професионалисти, които са преминали през редица специализирани обучения, включително с продукти на 3M и R-M. Всеки от нашите специалисти е истински експерт в своята област, като предоставя индивидуално внимание и внимание към детайлите. Работим със стотици автомобили всяка година, включително луксозни марки като Ferrari, Lamborghini, Porsche и други.</p>
            </div>
            <div class="col-md-6 about">
                <img src="https://r4.wallpaperflare.com/wallpaper/269/1018/533/lamborghini-aventador-wallpaper-6fa1a9b9c655479918a2e9ad5c787512.jpg" class="gallery-img" alt="Image 4">
            </div>
            <!-- Новата секция: Нашите партньори -->
            <div class="col-md-6 about">
                <img src="https://wallpapercave.com/wp/wp1911240.jpg" class="gallery-img" alt="Image 4">
            </div>
            <div class="col-md-6 align-content-lg-center about bg-blur border-0">
                <h2>Нашите партньори</h2>
                <p>Ексклузив Сервиз е доверен партньор на застрахователната компания "Асет Иншурънс". Със своето безкомпромисно качество и професионализъм, ние сме избрани за сертифициран сервиз, който предлага висококачествени ремонти и възстановяване на автомобили за всички наши клиенти, работещи с тази застрахователна компания.</p>
            </div>

        </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
