<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-warning">Регистрация</span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-75 bg-blur col-xl-3 col-md-4 col-sm-5"
          th:method="POST"
          th:action="@{/users/register}"
          th:object="${registerData}"
          style="padding: 20px;"
    >
        <div class="form-group">
            <div class="alert alert-danger" th:if="${passwordMismatch}">
                Паролите не съвпадат!
            </div>
            <div class="alert alert-danger" th:if="${registrationFailed}">
                Посочения имейл е регистриран!
            </div>
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="email" class="h3 mb-2">Имейл</label>
            </div>
            <input type="email"
                   class="form-control"
                   id="email"
                   name="email"
                   th:field="*{email}"
                   th:errorclass="'is-invalid alert-danger'"/>
            <small th:errors="*{email}" class="invalid-feedback text-danger"></small>


            <!--<small class="invalid-feedback text-danger">Моля въведете валиден имейл!</small>-->

            <div class="label-holder text-white d-flex justify-content-center">
                <label for="password" class="h3 mb-2">Парола</label>
            </div>
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   th:field="*{password}"
                   th:errorclass="'is-invalid alert-danger'"/>
            <small th:errors="*{password}" class="invalid-feedback text-danger"></small>
<!--            <small class="invalid-feedback text-danger">Моля въведете парола между 3 и 20 символа!</small>-->

            <div class="label-holder text-white d-flex justify-content-center">
                <label for="confirmPassword" class="h3 mb-2">Повтори парола</label>
            </div>
            <input type="password"
                   class="form-control"
                   id="confirmPassword"
                   name="confirmPassword"
                   th:field="*{confirmPassword}"
                   th:errorclass="'is-invalid alert-danger'"/>
            <small th:errors="*{confirmPassword}" class="invalid-feedback text-danger"></small>
<!--            <small class="invalid-feedback text-danger">Моля въведете парола между 3 и 20 символа!</small>-->

            <div class="label-holder text-white d-flex justify-content-center">
                <label for="name" class="h3 mb-2">Име</label>
            </div>
            <input type="text"
                   class="form-control"
                   id="name"
                   name="name"
                   th:field="*{name}"
                   th:errorclass="'is-invalid alert-danger'"/>
            <small th:errors="*{name}" class="invalid-feedback text-danger"></small>
<!--            <small class="invalid-feedback text-danger">Моля въведете име между 3 и 20 символа!</small>-->


            <div class="label-holder text-white d-flex justify-content-center">
                <label for="viberNumber" class="h3 mb-2">Вайбър</label>
            </div>
            <input type="number"
                   class="form-control"
                   id="viberNumber"
                   name="viberNumber"
                   th:field="*{viberNumber}"
                   th:errorclass="'is-invalid alert-danger'"/>
            <small th:errors="*{viberNumber}" class="invalid-feedback text-danger"></small>
<!--            <small class="invalid-feedback text-danger">Моля въведете актуален вайбър номер съдържащ между 8 и 20 символа!</small>-->

        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning mb-3">Регистрирай ме</button>
        </div>
    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
