<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-warning" th:text="#{reset_password_badge}"></span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-75 bg-blur col-xl-3 col-md-4 col-sm-5"
          th:action="@{/users/reset-password}"
          th:method="POST"
          th:object="${resetPasswordDTO}"
          style="padding: 20px;">

        <input type="hidden" th:field="*{token}"/>

        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="password" class="h4 mb-2" th:text="#{new_password}"></label>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" th:if="${error_mismatch}">
                <span th:text="#{password_miss-match}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" th:if="${error_token}">
                <span th:text="#{error_token}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   th:field="*{password}"
                   required/>
        </div>

        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="confirmPassword" class="h4 mb-2" th:text="#{confirm_password}"></label>
            </div>
            <input type="password"
                   class="form-control"
                   id="confirmPassword"
                   name="confirmPassword"
                   th:field="*{confirmPassword}"
                   required/>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning mb-3" th:text="#{reset_password}"></button>
        </div>
    </form>

    <div class="text-center mt-3">
        <p class="text-white">
            <span th:text="#{remember_password}"></span>
            <a href="#" th:href="@{/users/login}" class="text-yellow" th:text="#{login_btn}"></a>
        </p>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
